body{
background-color:white;
font-size: larger;
font-family: Verdana, Geneva, Tahoma, sans-serif;



}

.interface{
height: 100vh;
display: grid;
justify-content: center;
align-content: center;
gap:30px;
}

.para1{
    margin-left: 70px;
    font-size: larger;
}


#slt{
    border: none;
    height: 50px;
    width: 130px;
     font-size: 20px;
     border-radius: 20px;
     text-align: center;
}

.btn{
    border: none;
    text-align: center;
    margin-left: 190px;
    height: 70px;
    width: 240px;
    font-size: 25px;
   
    border-radius: 20px;
}

